# Object files
*.o
# Libraries
*.a
# Shared objects
*.so
*.so.*
*.dylib
# Files creared by autotools
.deps
aclocal.m4
autom4te.cache
autoscan.log
compile
compile.scan
config.cache
config.guess
config.h
config.h.in
config.hin
config.hin~
config.log
config.status
configure
configure.scan
stamp-h1
Makefile.in
Makefile
