Source: nagios-plugins-linux
Section: net
Priority: optional
Maintainer: Davide Madrisan <davide.madrisan@gmail.com>
Build-Depends: debhelper (>= 10), pkg-config
Homepage: https://github.com/madrisan/nagios-plugins-linux
Standards-Version: 4.3.0

Package: nagios-plugins-linux
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: nagios3 | icinga
Description: Linux monitoring program plugins for Nagios
 A suite of Nagios/NRPE plugins for monitoring Linux servers and appliances.
